<%= form_tag(search_path, method: 'get') do %>
  Barra de búsqueda <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Buscar' %>
<% end %>

<h1> You search for: <%= @search %> </h1>

<%if @type == 'film' %>
<h1> <%= @jsonResponse["title"] %> </h1>
  <div>
    <p>
      Episode Id: <%= @jsonResponse["episode_id"] %><br>
      Opening Crawl: <%= @jsonResponse["opening_crawl"] %><br>
      Director: <%= @jsonResponse["director"] %><br>
      Producer: <%= @jsonResponse["producer"] %><br>
      Release Date: <%= @jsonResponse["release_date"] %><br>
      Characters: <br> <% @characters.each do |character| %>
                        <%= link_to character[1], characters_path(:name => character[0].split('/')[-1]) %><br>
                  <% end %>
      Planets: <br> <% @planets.each do |planet| %>
                        <%= link_to planet[1], planets_path(:name => planet[0].split('/')[-1]) %><br>
                  <% end %>
      Starships: <br> <% @starships.each do |starship| %>
                        <%= link_to starship[1], starships_path(:name => starship[0].split('/')[-1]) %><br>
                  <% end %>
      Created: <%= @jsonResponse["created"] %><br>
      Edited: <%= @jsonResponse["edited"] %><br>
      URL: <%= @jsonResponse["url"] %><br>

    </p>
  </div>
  <% elsif @type == 'person'%>
    <h1> <%= @jsonResponse['name'] %> </h1>
    <div>
      <p>
        Height: <%= @jsonResponse["height"] %><br>
        Mass: <%= @jsonResponse["mass"] %><br>
        Hair Color: <%= @jsonResponse["hair_color"] %><br>
        Skin Color: <%= @jsonResponse["skin_color"] %><br>
        Eye Color: <%= @jsonResponse["eye_color"] %><br>
        Birth Year: <%= @jsonResponse["birth_year"] %><br>
        Gender: <%= @jsonResponse["gender"] %><br>
        Homeworld: <%= @homeworld %><br>
        Films: <br> <% @films.each do |film| %>
                          <%=link_to film[1], movies_path(:id => film[0].split('/')[-1]) %><br>
                    <% end %>
        Starships: <br> <% @starships.each do |starship| %>
                          <%= link_to starship[1], starships_path(:name => starship[0].split('/')[-1]) %><br>
                    <% end %>
        Created: <%= @jsonResponse["created"] %><br>
        Edited: <%= @jsonResponse["edited"] %><br>
        URL: <%= @jsonResponse["url"] %><br>

      </p>
    </div>
  <% elsif @type == 'starship'%>
    <h1> <%= @jsonResponse['name'] %> </h1>
    <div>
      <p>
        Model: <%= @jsonResponse["model"] %><br>
        Manufacturer: <%= @jsonResponse["manufacturer"] %><br>
        Cost In Credits: <%= @jsonResponse["cost_in_credits"] %><br>
        Length: <%= @jsonResponse["length"] %><br>
        Max Atmosphering Speed: <%= @jsonResponse["max_atmosphering_speed"] %><br>
        Crew: <%= @jsonResponse["crew"] %><br>
        Passengers: <%= @jsonResponse["passengers"] %><br>
        Cargo Capacity: <%= @jsonResponse["cargo_capacity"] %><br>
        Consumables: <%= @jsonResponse["consumables"] %><br>
        HyperDrive Rating: <%= @jsonResponse["hyperdrive_rating"] %><br>
        MGLT: <%= @jsonResponse["MGLT"] %><br>
        Starship class: <%= @jsonResponse["starship_class"] %><br>
        Pilots: <br> <% @pilots.each do |pilot| %>
                          <%= link_to pilot[1], characters_path(:name => pilot[0].split('/')[-1]) %><br>
                    <% end %>
        Films: <br> <% @films.each do |film| %>
                          <%=link_to film[1], movies_path(:id => film[0].split('/')[-1]) %><br>
                    <% end %>
        Created: <%= @jsonResponse["created"] %><br>
        Edited: <%= @jsonResponse["edited"] %><br>
        URL: <%= @jsonResponse["url"] %><br>

      </p>
    </div>
  <% elsif @type == 'planet' %>
      <h1> <%= @jsonResponse['name'] %> </h1>
      <div>
        <p>
          Rotation Period: <%= @jsonResponse["rotation_period"] %><br>
          Orbital Period: <%= @jsonResponse["orbital_period"] %><br>
          Diameter: <%= @jsonResponse["diameter"] %><br>
          Climate: <%= @jsonResponse["climate"] %><br>
          Gravity: <%= @jsonResponse["gravity"] %><br>
          Terrain: <%= @jsonResponse["terrain"] %><br>
          Surface Water: <%= @jsonResponse["surface_water"] %><br>
          Population: <%= @jsonResponse["population"] %><br>
          Residents: <br> <% @residents.each do |resident| %>
                            <%=link_to resident[1], characters_path(:name => resident[0].split('/')[-1]) %><br>
                      <% end %>
          Films: <br> <% @films.each do |film| %>
                            <%= link_to film[1], movies_path(:id => film[0].split('/')[-1]) %><br>
                      <% end %>
          Created: <%= @jsonResponse["created"] %><br>
          Edited: <%= @jsonResponse["edited"] %><br>
          URL: <%= @jsonResponse["url"] %><br>

        </p>
      </div>
  <% else %>
    <h3> Not a valid search, look for typos </h3>
  <% end %>
