<%= form_tag(search_path, method: 'get') do %>
  Barra de búsqueda <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Buscar' %>
<% end %>

<h1> <%= @results_graph.name %> </h1>
<div>
  <p>
    Rotation Period: <%= @results_graph.rotation_period %><br>
    Orbital Period: <%= @results_graph.orbital_period %><br>
    Diameter: <%= @results_graph.diameter %><br>
    Climate: <%= @results_graph.climates[0] %><br>
    Gravity: <%= @results_graph.gravity %><br>
    Terrain: <%= @results_graph.terrains[0] %><br>
    Surface Water: <%= @results_graph.surface_water %><br>
    Population: <%= @results_graph.population %><br>
    Residents: <br> <% @results_graph.resident_connection.residents.each do |character| %>
                      <%= link_to character.name, characters_path(:id => character.id) %><br>
                <% end %>
    Films: <br> <% @results_graph.film_connection.films.each do |film| %>
                      <%= link_to film.title, movies_path(:id => film.id) %><br>
                <% end %>
    Created: <%= @results_graph.created %><br>
    Edited: <%= @results_graph.edited %><br>
  </p>
</div>
