<%= form_tag(search_path, method: 'get') do %>
  Barra de búsqueda <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Buscar' %>
<% end %>

<h2>StarWars Movies</h2>
  <% @results_graph.each do |films|%>
    <div>
      <p>
        Título: <%= films.title %><br>
        Año de lanzamiento: <%= films.release_date %><br>
        Director: <%= films.director %><br>
        Productor(es): <% films.producers.each do |producers| %> <%= producers + '.' %>  <% end %><br>
        Número de episodio: <%= films.episode_id %><br>
        <%= link_to 'Más información', movies_path(:id => films.id) %>
      </p>
    </div>
  <% end %>
