
<h2>StarWars Movies</h2>
  <% @results.each do |films|%>
    <div>
      <p>
        Título: <%= films["title"] %><br>
        Año de lanzamiento: <%= films["release_date"] %><br>
        Director: <%= films["director"] %><br>
        Productor(es): <%= films["producer"] %><br>
        Número de episodio: <%= films["episode_id"] %><br>
        <%= link_to 'Mas información', movie_path(:id => films["url"].split('/')[-1]) %>
      </p>
    </div>
  <% end %>
