<%= form_tag(search_path, method: 'get') do %>
  Barra de búsqueda <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Buscar' %>
<% end %>

<h2>StarWars Movies</h2>
  <% @results.each do |films|%>
    <div>
      <p>
        Título: <%= films["title"] %><br>
        Año de lanzamiento: <%= films["release_date"] %><br>
        Director: <%= films["director"] %><br>
        Productor(es): <%= films["producer"] %><br>
        Número de episodio: <%= films["episode_id"] %><br>
        <%= link_to 'Más información', movies_path(:id => films["url"].split('/')[-1]) %>
      </p>
    </div>
  <% end %>
