<%= form_tag(search_path, method: 'get') do %>
  Barra de búsqueda <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Buscar' %>
<% end %>

<h1> <%= @results_graph.name %> </h1>
<div>
  <p>
    Height: <%= @results_graph.height %><br>
    Mass: <%= @results_graph.mass %><br>
    Hair Color: <%= @results_graph.hair_color %><br>
    Skin Color: <%= @results_graph.skin_color %><br>
    Eye Color: <%= @results_graph.eye_color %><br>
    Birth Year: <%= @results_graph.birth_year %><br>
    Gender: <%= @results_graph.gender %><br>
    Homeworld: <%= @results_graph.homeworld.name %><br>
    Films: <br> <% @results_graph.film_connection.films.each do |film| %>
                      <%= link_to film.title, movies_path(:id => film.id) %><br>
                <% end %>
    Starships: <br> <% @results_graph.starship_connection.starships.each do |starship| %>
                      <%= link_to starship.name, starships_path(:id => starship.id) %><br>
                <% end %>
    Created: <%= @results_graph.created %><br>
    Edited: <%= @results_graph.edited %><br>
  </p>
</div>
