<h1> <%= @jsonResponse['name'] %> </h1>
<div>
  <p>
    Height: <%= @jsonResponse["height"] %><br>
    Mass: <%= @jsonResponse["mass"] %><br>
    Hair Color: <%= @jsonResponse["hair_color"] %><br>
    Skin Color: <%= @jsonResponse["skin_color"] %><br>
    Eye Color: <%= @jsonResponse["eye_color"] %><br>
    Birth Year: <%= @jsonResponse["birth_year"] %><br>
    Gender: <%= @jsonResponse["gender"] %><br>
    Homeworld: <%= @homeworld %><br>
    Films: <br> <% @films.each do |film| %>
                      <%= film[1] %><br>
                <% end %>
    Starships: <br> <% @starships.each do |starship| %>
                      <%= starship[1] %><br>
                <% end %>
    Created: <%= @jsonResponse["created"] %><br>
    Edited: <%= @jsonResponse["edited"] %><br>
    URL: <%= @jsonResponse["url"] %><br>

  </p>
</div>
