<h1> <%= @jsonResponse["title"] %> </h1>
  <div>
    <p>
      Episode Id: <%= @jsonResponse["episode_id"] %><br>
      Opening Crawl: <%= @jsonResponse["opening_crawl"] %><br>
      Director: <%= @jsonResponse["director"] %><br>
      Producer: <%= @jsonResponse["producer"] %><br>
      Release Date: <%= @jsonResponse["release_date"] %><br>
      Characters: <br> <% @characters.each do |character| %>
                        <%= link_to character %><br>
                  <% end %>
      Planets: <br> <% @planets.each do |planet| %>
                        <%= planet %><br>
                  <% end %>
      Starships: <br> <% @starships.each do |starship| %>
                        <%= starship %><br>
                  <% end %>
      Created: <%= @jsonResponse["created"] %><br>
      Edited: <%= @jsonResponse["edited"] %><br>
      URL: <%= @jsonResponse["url"] %><br>

    </p>
  </div>
