<h1> <%= @results_graph.title %> </h1>
  <div>
    <p>
      Episode Id: <%= @results_graph.episode_id %><br>
      Opening Crawl: <%= @results_graph.opening_crawl %><br>
      Director: <%= @results_graph.director %><br>
      Producer: <% @results_graph.producers.each do |producers| %> <%= producers + '.' %>  <% end %><br>
      Release Date: <%= @results_graph.release_date %><br>
      Characters: <br> <% @results_graph.character_connection.characters.each do |character| %>
                        <%= link_to character.name, characters_path(:id => character.id) %><br>
                  <% end %>
      Planets: <br> <% @results_graph.planet_connection.planets.each do |planet| %>
                        <%= link_to planet.name, planets_path(:id => planet.id) %><br>
                  <% end %>
      Starships: <br> <% @results_graph.starship_connection.starships.each do |starship| %>
                        <%= link_to starship.name, starships_path(:id => starship.id) %><br>
                  <% end %>
      Created: <%= @results_graph.created %><br>
      Edited: <%= @results_graph.edited %><br>
    </p>
  </div>
