<%= form_tag(search_path, method: 'get') do %>
  Barra de búsqueda <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Buscar' %>
<% end %>
<div>
  <p>
    <%= @results_graph %>
  </p>
</div>
<h1> <%= @jsonResponse["title"] %> </h1>
  <div>
    <p>
      Episode Id: <%= @jsonResponse["episode_id"] %><br>
      Opening Crawl: <%= @jsonResponse["opening_crawl"] %><br>
      Director: <%= @jsonResponse["director"] %><br>
      Producer: <%= @jsonResponse["producer"] %><br>
      Release Date: <%= @jsonResponse["release_date"] %><br>
      Characters: <br> <% @characters.each do |character| %>
                        <%= link_to character[1], characters_path(:name => character[0].split('/')[-1]) %><br>
                  <% end %>
      Planets: <br> <% @planets.each do |planet| %>
                        <%= link_to planet[1], planets_path(:name => planet[0].split('/')[-1]) %><br>
                  <% end %>
      Starships: <br> <% @starships.each do |starship| %>
                        <%= link_to starship[1], starships_path(:name => starship[0].split('/')[-1]) %><br>
                  <% end %>
      Created: <%= @jsonResponse["created"] %><br>
      Edited: <%= @jsonResponse["edited"] %><br>
      URL: <%= @jsonResponse["url"] %><br>

    </p>
  </div>
