<h1> <%= @results_graph.name %> </h1>
<div>
  <p>
    Model: <%= @results_graph.model %><br>
    Manufacturer: <%= @results_graph.manufacturers[0] %><br>
    Cost In Credits: <%= @results_graph.cost_in_credits %><br>
    Length: <%= @results_graph.length %><br>
    Max Atmosphering Speed: <%= @results_graph.max_atmosphering_speed %><br>
    Crew: <%= @results_graph.crew %><br>
    Passengers: <%= @results_graph.passengers %><br>
    Cargo Capacity: <%= @results_graph.cargo_capacity %><br>
    Consumables: <%= @results_graph.consumables %><br>
    HyperDrive Rating: <%= @results_graph.hyperdrive_rating %><br>
    MGLT: <%= @results_graph.mglt %><br>
    Starship class: <%= @results_graph.starship_class %><br>
    Pilots: <br> <% @results_graph.pilot_connection.pilots.each do |pilot| %>
                      <%= link_to pilot.name, characters_path(:id => pilot.id) %><br>
                <% end %>
    Films: <br> <% @results_graph.film_connection.films.each do |film| %>
                      <%= link_to film.title, movies_path(:id => film.id) %><br>
                <% end %>
    Created: <%= @results_graph.created %><br>
    Edited: <%= @results_graph.edited %><br>
  </p>
</div>
