<h1> <%= @jsonResponse['name'] %> </h1>
<div>
  <p>
    Model: <%= @jsonResponse["model"] %><br>
    Manufacturer: <%= @jsonResponse["manufacturer"] %><br>
    Cost In Credits: <%= @jsonResponse["cost_in_credits"] %><br>
    Length: <%= @jsonResponse["length"] %><br>
    Max Atmosphering Speed: <%= @jsonResponse["max_atmosphering_speed"] %><br>
    Crew: <%= @jsonResponse["crew"] %><br>
    Passengers: <%= @jsonResponse["passengers"] %><br>
    Cargo Capacity: <%= @jsonResponse["cargo_capacity"] %><br>
    Consumables: <%= @jsonResponse["consumables"] %><br>
    HyperDrive Rating: <%= @jsonResponse["hyperdrive_rating"] %><br>
    MGLT: <%= @jsonResponse["MGLT"] %><br>
    Starship class: <%= @jsonResponse["starship_class"] %><br>
    Pilots: <br> <% @pilots.each do |pilot| %>
                      <%= link_to pilot[1], characters_path(:name => pilot[0].split('/')[-1]) %><br>
                <% end %>
    Films: <br> <% @films.each do |film| %>
                      <%=link_to film[1], movies_path(:id => film[0].split('/')[-1]) %><br>
                <% end %>
    Created: <%= @jsonResponse["created"] %><br>
    Edited: <%= @jsonResponse["edited"] %><br>
    URL: <%= @jsonResponse["url"] %><br>

  </p>
</div>
